/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.top_nav ul {
		width: 77%;
	}
	.mc_item_wrap:nth-child(1){
		margin-left:0px;
	}
	.mc_item_wrap:nth-child(4){
		margin-left:0px;
	}
	.mc_item_wrap{
		margin-left:35px;
		margin-bottom: 25px;
	}
	.mc_button_w{
		margin-left:2px;
	}
	footer .bot_mnu{
		width: 100%;
		margin: 10px 0px;
		display:inline-block;
	}
	.top_nav ul li a img{
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.mc_item_wrap:nth-child(3){
		margin-right:6px;
	}
	h2{
		font-size:35px;
	}
	.mc_item_wrap{
		margin-left:35px;
		margin-bottom: 25px;
	}
	.top_addr{
		background:none;
		text-align:right;
		padding:22px 0;
	}
	.hi_item a img{
		width:100%;
	}
	
	.s_bottom img{
		width:100%;
	}
	header{
		background-image: url("../images/top_bg2.jpg");
	}
	.top_nav ul{
		display:none;
		position: absolute;
		background:#ccc;
		z-index:10;
		border:1px solid #3b3b3b;
		border-top:none;
		border-bottom:none;
		width:96%;
		top: 60px;
	}
	.top_nav ul li{
		display: block;
		padding-top:15px;
		text-align:left;
		background-color: #242424;
		border-bottom:1px solid #3b3b3b;
	}
	.button_mn{
		height:60px;
		padding:5px 25px;
		display: block;
		width: 115px;
		float:left;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.s_bottom h2{
		text-align:center;
		margin-bottom:10px;
	}
	.logo_wrap{
		position: relative;
		right:40px;
		top:10px;
	}
	.logo img{
		width:120%;
		height:120%;
	}
	.logo{
		padding-right:60px;
	}
	.top_line .top_addr a{
		font-size: 16px;
	}
	.ta_right strong{
		font-size: 25px;
	}
	.st_button{
		background-image:none;
		padding-left:10px;
	}
	header .button{
		margin-right:10px;
	}
	header h1{
		font-size:48px ;
	}
	.mc_item_wrap:nth-child(3) {
		margin-bottom: 25px;
		margin-right: 40px;
	}
	.mc_item_wrap:nth-child(1) {
		margin-bottom: 25px;
		margin-right: 40px;
		margin-left: 35px;
	}
	.mc_item_wrap:nth-child(4) {
		margin-bottom: 25px;
		margin-right: 40px;
		margin-left: 35px;
	}
	.mc_item_wrap {
		margin-bottom: 25px;
		margin-right:40px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {	
	.art_header{
		font-size:30px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.top_nav ul{
		width: 91%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}